---
import Bubble from "./Bubble.astro"


---

<header>
	<img src="src/assets/aerislogo.svg" alt="Aeris Logo" class="logo">
</header>
<body>
	<div class="hero">
		<a class="links" href="https://www.wayra.es/news/aeris-recero-y-acte-se-alzan-con-el-premio-de-la-sexta-edicion-de-innomakers4health-de-wayra-pfizer-y-fundacion-pfizer" 
			target="_blank">What is Aeris?</a>
		<h1>Welcome to the future of healthcare</h1>
		<p>We are still building Aeris.</p>
		<p>Be part of the movement to transform healthcare.</p>
	</div>
	<form class="newsletter-container" action="https://formspree.io/f/xgvvplbd" method="POST">
		<p>Join the newsletter</p>
		<span class="newsletter">
			<div class="input-container">
				<input type="email" name="email" placeholder="Email address...">
				<textarea name="message" style="display: none;" readonly> </textarea>
				<button type="submit">Join Now</button>
			  </div>
		</span>
	</form>
	<Bubble></Bubble>
	<footer>
		<p>Made with ♡ by Aeris Team.</p>
	</footer>
</body>